.socialMedia{
    position: absolute;
    display: grid;
    grid-template-rows: 80% 20%;
    place-items: center;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 3;
}

.socialMedia__container {
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-around;
}
@media screen and (max-width:768px){
    .socialMedia{
        position: absolute;
        display: grid;
        grid-template-rows: 90% 10%;
        place-items: center;
        right: 0;
        top: 0;
        width: 60px;
        height: 100%;
    }
    .socialMedia__container {
        width: 40px;
        height: 200px;
        overflow: hidden;
        justify-content: space-between;
    }
}