.menu__container{
    position: absolute;
    padding-top: 30px;
    width: 270px;
    height: 100%;
    left: -275px;
    border-radius: 20px;
    box-shadow: #fafafa6e 1px 1px 5px;
    background: var(--white-ice);
    transition: all 1s;
    z-index: 10;
}

.desplegado{
    left: -50px;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__content {
    position: relative;
}
.menu__container .menu__icon {
    position: absolute;
    right: -45px;
    top: -25px;
    transition: 1s;
}
.desplegado .menu__icon {
    right: 5px;
}

.menu__content .container__link a{
    color: aliceblue;
    text-shadow: aliceblue 0px 0px 3px;
}
 @media screen and (max-width:750px){
    .menu__container{
        width: 100%;
        left: 0;
        right: 0;
        background: #000000d0;
        transform: translateX(-100%);
    } 
    .menu__container .menu__icon {
        right: -50px;
    }
    .desplegado{
        transform: translateX(0px);
    }
    .desplegado .menu__icon {
        left: 10px;
    }
    ul {
        height: 60vh;
        justify-content: space-between;
    }

} 