.Container__paso2{
    .description{
            width: 100%;
            display:flex;
            align-items: flex-start;
            background: none;
            border-radius: 0px;
            box-shadow: none;
            p, h3{
                    text-align: justify;
                    font-size: 1.5rem;
                    font-family: 'Handlee', 'sand-serif';   
            }
            p{
                    font-weight: 100;
            }

    }
    .tarjetas__container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        
    }
}