@font-face {
    font-family: 'Handlee';
    src: url('../../Assets/Fonts/Handlee-Regular.ttf');
}
/* 
@font-face {
    font-family: 'Merien';
    src: url('../../Assets/Fonts/Merienda-Bold.ttf');
}
@font-face {
    font-family: 'Mitr';
    src: url('../../Assets/Fonts/Mitr-Regular.ttf');
}
    @font-face {
    font-family: 'Chewy';
    src: url('../../Assets/Fonts/Chewy.ttf');
} */

@font-face {
    font-family: 'Pacifico';
    src: url('../../Assets/Fonts/Pacifico-Regular.ttf');
}

$Fuente-Titulos-Claros: 'Pacifico', sans-serif;

%conf1_panels{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 420px;
    overflow: hidden;
    background: rgba(245,245,245,0.7);
    box-shadow: black 0px 0px 5px;
}

.Home {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 5fr 7fr;
    grid-template-rows: 2fr 3fr 4fr;
    background-size: cover;
    box-shadow: rgba(50,0,0,0.95) 0px 0px 15px;
    transition: all 1s;
}

.opt1{
    background:  url(../../Images/Home/home-fondo2.jpg) no-repeat center;
}

.opt2{
    background:  url(../../Images/Home/home-fondo3.jpg) no-repeat center;
}
.opt3{
    background:  url(../../Images/Home/home-fondo4hd.jpg) no-repeat center;
}
.opt4{
    background:  url(../../Images/Home/home-fondo5hd.jpg) no-repeat center;
}
.Logo {
    grid-column: 2 / 3;
    grid-row: 1/2;
    height: 150px;
    @extend %conf1_panels;
    border-radius: 0px 0px 15px 15px;
    img{
        margin-top: -10px;
        width: 175px;
        height: 150px;
    }
}

.Texto {
    margin: 20px 30px;
    grid-column: 2 / 3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
 
}

.Texto h2{
    color: aliceblue;
    width: 235px;
    text-shadow: black 0px 0px 5px;
    font-size: 4.8rem;
    letter-spacing: 2.2px;
    line-height: 50px;
    word-spacing: 2px;
    font-family: $Fuente-Titulos-Claros;
    font-weight: bold;
}
.Texto h3 {
    color: aliceblue;
    margin-top: 2.8px;
    width: 260px;
    opacity: 0.90;
    text-shadow: black 1px 1px 5px;
    font-size: 2.2rem;
    letter-spacing: 1.0px;
    line-height: 30px;
    font-family: $Fuente-Titulos-Claros;
    font-weight: 200;
}

.opt__container {
    display: flex;
    width: 220px;
    height: max-content;
}

.opt__container .opt{
    margin: 6px;
    margin-top: 15px;
    background-color: aliceblue;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    opacity: 60%;
    box-shadow: black 0px 0px 5px;
    transition: all 1s;
}

.opt__container .select{
    opacity: 1;
}

.description{
    grid-column: 2 / 3;
    grid-row: 3/4;
    @extend %conf1_panels;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius:15px 15px 0px 0px;
}
