.carrousel_container{
    position: absolute;
    display: flex;
    width: 100%;
    left: 0px;
    top: 0px;
    animation: movimiento 25s infinite linear;
    /* overflow-x: scroll;
    &::-webkit-scrollbar{
        display: none;
    } */
    div{

        img{
            width: 80px;
            height: 80px;
        }
        p{
            margin: -5px;
            font-size: 1.1rem;
        }
    }
}

@keyframes movimiento {
    0%{
        left: 0;
    }
    100%{
        left: -1185px;
    }
}

@media screen and (max-width:375px){
    .carrousel_container{
        div{
            img{
                width: 70px;
                height: 70px;
            }
            p{
                font-size: 1.0rem;
            }
        }   
    }
}